*.d
*.o
*.pyc
*.log
*.trace
*.a
sim.info
sim.stats.sqlite3
bank_access/dram_trace_replay
config/buildconf.makefile
config/buildconf.sh
config/sniper.py
frontend/pin-frontend/obj-intel64/
sift/recorder/obj-intel64/
sift/siftdump
lib/
pin_kit/pinplay-drdebug-3.2-pin-3.2-81205-gcc-linux/
test/demo-scheduling/fft
test/demo-scheduling/sim.*
test/dram-access-trace/test
test/dram-access-trace/sim.*
test/dvfs/dvfs
test/dvfs/sim.*
test/test-installation/test
test/test-installation/test_summary.txt
test/demo-scheduling/fft.c
test/single_core_single_channel/hotspot/
test/single_core_single_channel/maps/
test/single_core_single_channel/all_transient_mem.init
test/single_core_single_channel/energystats-temp.*
test/single_core_single_channel/sim.*
test/single_core_single_channel/temperature_mem.init
test/single_core_single_channel/test
test/test-installation/comet_results/
test/thermal_example/logfile
test/thermal_example/test
test/thermal_example/hotspot/
test/thermal_example/all_transient_mem.init
test/thermal_example/energystats-temp.*
test/thermal_example/sim.*
test/thermal_example/temperature_mem.init
test/true/true
test/true/true.o
test/